form(action='/getFileSize' enctype='multipart/form-data' method='post')
    p Please select file (if you like):
    br
    input(type="file" value="upload" name ="file")
    input(type="submit" value="send")