doctype 5
html
  head
    style code {background-color:#eeeeee;} p {font-size:15px}
  body
    div(style = "font-family:arial")
      h2(style = "color:#61B329") File Metadata Service
      p Submit file and get size of file in bytes.
      form(action='/getFileSize' enctype='multipart/form-data' method='post')
          input(type="file" value="Upload" name ="file")
          input(type="submit" value="Submit")